#title-h1 {
    text-align: center;
}

#nav-tabs-id {
    text-align: center;
}

.fullCourseDiv {
    border-style: solid;
    text-align: center;
}

.courseVideoDiv {
    border-style: groove;
    text-align: center;
}